@*@using System.ComponentModel.DataAnnotations

@inject IClassRepository _classRepository
<Modal Title="@("Seach")"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    <Form Loading="loading" Model="@studentSearch"
          LabelColSpan="8"
          WrapperColSpan="16"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed"
          @ref="@_formSearch">
        <FormItem Label="Username">
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem Label="Address">
            <Input @bind-Value="@context.Address" />
        </FormItem>
         <FormItem Label="Start Date">
            <DatePicker @bind-Value="@context.StartDate" />
        </FormItem>
        <FormItem Label="End Date">
            <DatePicker @bind-Value="@context.EndDate" />
        </FormItem>
        <FormItem Label="Select">
            <Select Mode="Class"
                    DataSource="@classes"
                    @bind-Value="@context.ClassID"
                    LabelName="@nameof(Class.Name)"
                    ValueName="@nameof(Class.Id)">
            </Select>
        </FormItem>
    </Form>
</Modal>
*@